## List

In [1]:
city_0 = "Atlanta"
city_1 = "Baltimore"
city_2 = "Chicago"
city_3 = "Los Angeles"
city_4 = "New York"
city_5 = "Seattle"

In [2]:
cities = ["Atlanta","Baltimore","Chicago","Los Angeles","New York","Seattle"]

In [3]:
cities

['Atlanta', 'Baltimore', 'Chicago', 'Los Angeles', 'New York', 'Seattle']

In [5]:
cities.append("Karachi")

In [6]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Los Angeles',
 'New York',
 'Seattle',
 'Karachi']

In [10]:
cities.extend(["Sukkur","Peshawar"])

In [11]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Los Angeles',
 'New York',
 'Seattle',
 'Karachi',
 'S',
 'u',
 'k',
 'k',
 'u',
 'r',
 'Sukkur',
 'Peshawar']

In [20]:
cities.remove("r")

['Atlanta',
 'Baltimore',
 'Chicago',
 'Los Angeles',
 'New York',
 'Seattle',
 'Karachi',
 'Sukkur',
 'Peshawar']

In [21]:
cities.insert(0,"Lahore")

In [22]:
cities

['Lahore',
 'Atlanta',
 'Baltimore',
 'Chicago',
 'Los Angeles',
 'New York',
 'Seattle',
 'Karachi',
 'Sukkur',
 'Peshawar']

In [23]:
cities.pop(0)

'Lahore'

In [24]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Los Angeles',
 'New York',
 'Seattle',
 'Karachi',
 'Sukkur',
 'Peshawar']

In [25]:
cities.reverse()

In [26]:
cities

['Peshawar',
 'Sukkur',
 'Karachi',
 'Seattle',
 'New York',
 'Los Angeles',
 'Chicago',
 'Baltimore',
 'Atlanta']

In [27]:
cities.sort()

In [28]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Karachi',
 'Los Angeles',
 'New York',
 'Peshawar',
 'Seattle',
 'Sukkur']

In [32]:
cities.count("Karachi")

1

In [34]:
len(cities)

9

In [36]:
cities.index("Karachi")

3

In [37]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Karachi',
 'Los Angeles',
 'New York',
 'Peshawar',
 'Seattle',
 'Sukkur']

## Shallow Copy

In [38]:
cities_new = cities.copy()

In [39]:
cities_new

['Atlanta',
 'Baltimore',
 'Chicago',
 'Karachi',
 'Los Angeles',
 'New York',
 'Peshawar',
 'Seattle',
 'Sukkur']

In [41]:
id(cities_new),id(cities)

(2333362165056, 2333345735168)

## deep shallow

In [42]:
city=cities

In [47]:
city

['Atlanta',
 'Baltimore',
 'Chicago',
 'Karachi',
 'Los Angeles',
 'New York',
 'Peshawar',
 'Seattle']

In [45]:
cities.pop()

'Sukkur'

In [46]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Karachi',
 'Los Angeles',
 'New York',
 'Peshawar',
 'Seattle']

In [48]:
city[1:5]

['Baltimore', 'Chicago', 'Karachi', 'Los Angeles']

In [52]:
city[::-1]

['Seattle',
 'Peshawar',
 'New York',
 'Los Angeles',
 'Karachi',
 'Chicago',
 'Baltimore',
 'Atlanta']

In [54]:
city[:6]

['Atlanta', 'Baltimore', 'Chicago', 'Karachi', 'Los Angeles', 'New York']

## Tuples

In [56]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Karachi',
 'Los Angeles',
 'New York',
 'Peshawar',
 'Seattle']

In [58]:
tuple_cities=tuple(cities)

In [59]:
tuple_cities[2] = "Isb"

TypeError: 'tuple' object does not support item assignment

In [60]:
cities.append("Isb")

In [61]:
cities

['Atlanta',
 'Baltimore',
 'Chicago',
 'Karachi',
 'Los Angeles',
 'New York',
 'Peshawar',
 'Seattle',
 'Isb']

In [65]:
tuple_cities.count("Atlanta")

1

In [66]:
tuple_cities.index("Atlanta")

0

In [67]:
set_cities = set(cities)

In [68]:
student = {"Ahsan",22,75.5,True}

In [ ]:
student.issuperset()

## List Practice

In [1]:
cars = [
    "Toyota Corolla", "Honda Civic", "Suzuki Alto", "Hyundai Elantra", "Kia Sportage",
    "BMW X5", "Mercedes-Benz C-Class", "Audi A4", "Tesla Model 3", "Ford Mustang",
    "Chevrolet Camaro", "Nissan Altima", "Mazda CX-5", "Jeep Wrangler", "Range Rover Evoque"
]

In [2]:
cars.append("BMW M5 CS")

In [3]:
cars

['Toyota Corolla',
 'Honda Civic',
 'Suzuki Alto',
 'Hyundai Elantra',
 'Kia Sportage',
 'BMW X5',
 'Mercedes-Benz C-Class',
 'Audi A4',
 'Tesla Model 3',
 'Ford Mustang',
 'Chevrolet Camaro',
 'Nissan Altima',
 'Mazda CX-5',
 'Jeep Wrangler',
 'Range Rover Evoque',
 'BMW M5 CS']

In [4]:
cars.count("Honda Civic")

1

In [5]:
cars.extend(["Lamborghni","Mclaren"])

In [6]:
cars

['Toyota Corolla',
 'Honda Civic',
 'Suzuki Alto',
 'Hyundai Elantra',
 'Kia Sportage',
 'BMW X5',
 'Mercedes-Benz C-Class',
 'Audi A4',
 'Tesla Model 3',
 'Ford Mustang',
 'Chevrolet Camaro',
 'Nissan Altima',
 'Mazda CX-5',
 'Jeep Wrangler',
 'Range Rover Evoque',
 'BMW M5 CS',
 'Lamborghni',
 'Mclaren']

In [7]:
cars.index("Suzuki Alto")

2

In [8]:
cars.insert(3,"Suzuki Mehran")

In [9]:
cars

['Toyota Corolla',
 'Honda Civic',
 'Suzuki Alto',
 'Suzuki Mehran',
 'Hyundai Elantra',
 'Kia Sportage',
 'BMW X5',
 'Mercedes-Benz C-Class',
 'Audi A4',
 'Tesla Model 3',
 'Ford Mustang',
 'Chevrolet Camaro',
 'Nissan Altima',
 'Mazda CX-5',
 'Jeep Wrangler',
 'Range Rover Evoque',
 'BMW M5 CS',
 'Lamborghni',
 'Mclaren']

In [10]:
cars.index('Lamborghni')

17

In [11]:
cars.pop(17)

'Lamborghni'

In [12]:
cars

['Toyota Corolla',
 'Honda Civic',
 'Suzuki Alto',
 'Suzuki Mehran',
 'Hyundai Elantra',
 'Kia Sportage',
 'BMW X5',
 'Mercedes-Benz C-Class',
 'Audi A4',
 'Tesla Model 3',
 'Ford Mustang',
 'Chevrolet Camaro',
 'Nissan Altima',
 'Mazda CX-5',
 'Jeep Wrangler',
 'Range Rover Evoque',
 'BMW M5 CS',
 'Mclaren']

In [13]:
cars.remove('Mclaren')

In [14]:
cars

['Toyota Corolla',
 'Honda Civic',
 'Suzuki Alto',
 'Suzuki Mehran',
 'Hyundai Elantra',
 'Kia Sportage',
 'BMW X5',
 'Mercedes-Benz C-Class',
 'Audi A4',
 'Tesla Model 3',
 'Ford Mustang',
 'Chevrolet Camaro',
 'Nissan Altima',
 'Mazda CX-5',
 'Jeep Wrangler',
 'Range Rover Evoque',
 'BMW M5 CS']

In [17]:
cars.reverse()

In [18]:
cars

['Toyota Corolla',
 'Honda Civic',
 'Suzuki Alto',
 'Suzuki Mehran',
 'Hyundai Elantra',
 'Kia Sportage',
 'BMW X5',
 'Mercedes-Benz C-Class',
 'Audi A4',
 'Tesla Model 3',
 'Ford Mustang',
 'Chevrolet Camaro',
 'Nissan Altima',
 'Mazda CX-5',
 'Jeep Wrangler',
 'Range Rover Evoque',
 'BMW M5 CS']

In [19]:
cars.sort()

In [20]:
cars

['Audi A4',
 'BMW M5 CS',
 'BMW X5',
 'Chevrolet Camaro',
 'Ford Mustang',
 'Honda Civic',
 'Hyundai Elantra',
 'Jeep Wrangler',
 'Kia Sportage',
 'Mazda CX-5',
 'Mercedes-Benz C-Class',
 'Nissan Altima',
 'Range Rover Evoque',
 'Suzuki Alto',
 'Suzuki Mehran',
 'Tesla Model 3',
 'Toyota Corolla']

In [21]:
car=cars.copy()

In [22]:
car

['Audi A4',
 'BMW M5 CS',
 'BMW X5',
 'Chevrolet Camaro',
 'Ford Mustang',
 'Honda Civic',
 'Hyundai Elantra',
 'Jeep Wrangler',
 'Kia Sportage',
 'Mazda CX-5',
 'Mercedes-Benz C-Class',
 'Nissan Altima',
 'Range Rover Evoque',
 'Suzuki Alto',
 'Suzuki Mehran',
 'Tesla Model 3',
 'Toyota Corolla']

In [23]:
car.pop()

'Toyota Corolla'

In [24]:
car

['Audi A4',
 'BMW M5 CS',
 'BMW X5',
 'Chevrolet Camaro',
 'Ford Mustang',
 'Honda Civic',
 'Hyundai Elantra',
 'Jeep Wrangler',
 'Kia Sportage',
 'Mazda CX-5',
 'Mercedes-Benz C-Class',
 'Nissan Altima',
 'Range Rover Evoque',
 'Suzuki Alto',
 'Suzuki Mehran',
 'Tesla Model 3']

In [25]:
cars

['Audi A4',
 'BMW M5 CS',
 'BMW X5',
 'Chevrolet Camaro',
 'Ford Mustang',
 'Honda Civic',
 'Hyundai Elantra',
 'Jeep Wrangler',
 'Kia Sportage',
 'Mazda CX-5',
 'Mercedes-Benz C-Class',
 'Nissan Altima',
 'Range Rover Evoque',
 'Suzuki Alto',
 'Suzuki Mehran',
 'Tesla Model 3',
 'Toyota Corolla']

In [26]:
car.clear()

In [27]:
car

[]

In [28]:
del car

In [29]:
car

NameError: name 'car' is not defined

## Tuples Practice

In [31]:
tuples_cars = (
    "Toyota Corolla", "Honda Civic", "Suzuki Alto", "Hyundai Elantra", "Kia Sportage",
    "BMW X5", "Mercedes-Benz C-Class", "Audi A4", "Tesla Model 3", "Ford Mustang",
    "Chevrolet Camaro", "Nissan Altima", "Mazda CX-5", "Jeep Wrangler", "Range Rover Evoque"
)

In [32]:
tuples_cars.count("Suzuki Alto")

1

In [33]:
tuples_cars.index("Suzuki Alto")

2

In [36]:
list_cars = list(tuples_cars)

In [37]:
list_cars.append("Suzuki Alto")

In [38]:
tuples_cars = tuple(list_cars)

In [40]:
tuples_cars

('Toyota Corolla',
 'Honda Civic',
 'Suzuki Alto',
 'Hyundai Elantra',
 'Kia Sportage',
 'BMW X5',
 'Mercedes-Benz C-Class',
 'Audi A4',
 'Tesla Model 3',
 'Ford Mustang',
 'Chevrolet Camaro',
 'Nissan Altima',
 'Mazda CX-5',
 'Jeep Wrangler',
 'Range Rover Evoque',
 'Suzuki Alto')

In [41]:
set_cars = set(tuples_cars)

In [42]:
set_cars

{'Audi A4',
 'BMW X5',
 'Chevrolet Camaro',
 'Ford Mustang',
 'Honda Civic',
 'Hyundai Elantra',
 'Jeep Wrangler',
 'Kia Sportage',
 'Mazda CX-5',
 'Mercedes-Benz C-Class',
 'Nissan Altima',
 'Range Rover Evoque',
 'Suzuki Alto',
 'Tesla Model 3',
 'Toyota Corolla'}

In [43]:
set_cars.add("Suzuki Alto")

In [44]:
set_cars

{'Audi A4',
 'BMW X5',
 'Chevrolet Camaro',
 'Ford Mustang',
 'Honda Civic',
 'Hyundai Elantra',
 'Jeep Wrangler',
 'Kia Sportage',
 'Mazda CX-5',
 'Mercedes-Benz C-Class',
 'Nissan Altima',
 'Range Rover Evoque',
 'Suzuki Alto',
 'Tesla Model 3',
 'Toyota Corolla'}

In [45]:
set_cars_2 = {
    "Toyota Corolla",
    "Honda Civic",
    "Suzuki Alto",
    "Hyundai Elantra",
    "Kia Sportage",
    "Nissan Sunny",
    "BMW X5",
    "Audi A4",
    "Mercedes C-Class",
    "Tesla Model 3",
    "Ford Mustang",
    "Chevrolet Camaro",
    "Mitsubishi Lancer",
    "Jeep Wrangler",
    "Range Rover Evoque"
}

In [46]:
set_cars.difference(set_cars_2)

{'Mazda CX-5', 'Mercedes-Benz C-Class', 'Nissan Altima'}

In [47]:
set_cars.intersection(set_cars_2)

{'Audi A4',
 'BMW X5',
 'Chevrolet Camaro',
 'Ford Mustang',
 'Honda Civic',
 'Hyundai Elantra',
 'Jeep Wrangler',
 'Kia Sportage',
 'Range Rover Evoque',
 'Suzuki Alto',
 'Tesla Model 3',
 'Toyota Corolla'}

In [49]:
set_cars.union(set_cars_2)

{'Audi A4',
 'BMW X5',
 'Chevrolet Camaro',
 'Ford Mustang',
 'Honda Civic',
 'Hyundai Elantra',
 'Jeep Wrangler',
 'Kia Sportage',
 'Mazda CX-5',
 'Mercedes C-Class',
 'Mercedes-Benz C-Class',
 'Mitsubishi Lancer',
 'Nissan Altima',
 'Nissan Sunny',
 'Range Rover Evoque',
 'Suzuki Alto',
 'Tesla Model 3',
 'Toyota Corolla'}

In [50]:
set_cars.pop()

'Audi A4'